body{
    background-color: azure;
}
.wrap{
    width: 900px;
    height: 200px;
    margin: 100px 0 0 500px;
}
.bir{
    border:1px solid azure;
    width: 150px;
    height: 150px;
    float: left;
}
.t1{
    color: grey;
    font-size: 30px;
    font-weight: bold;
    /*margin: 30px 0 0 60px;*/
   /* float: left;*/
    text-align: center;
}
.o1{
    width: 60px;
    height: 30px;
    border: 1px solid #949494;
    border-radius: 30px;
    margin: 55px 0 0 40px;
    background-color: whitesmoke;
    float: left;
}
.d1{
    width: 28px;
    height: 28px;
    border: 1px none;
    border-radius: 50%;
    background-color: white;
    margin: 1px 0 0 2px;
}
.d1:active{
    margin: 1px 0 0 30px;
}
.d1:focus{
    margin: 1px 0 0 30px;
}
.o1:active{
    background-color: green;
}
.o2{
    width: 60px;
    height: 30px;
    border: 1px solid #949494;
    border-radius: 30px;
    margin: 85px 0 0 45px;
    background-color: whitesmoke;
}
.d2{
    width: 28px;
    height: 28px;
    border: 1px none;
    border-radius: 50%;
    background-color: white;
    margin: 1px 0 0 2px;
}
.d2:active{
    margin: 1px 0 0 30px;
}
.d2:focus{
    margin: 1px 0 0 30px;
}
.o2:active{
    background-color: grey;
}
.o3{
    background-color: #949494;
    width: 60px;
    height: 40px;
    transform: skew(-20deg);
    margin: 85px 0 0 45px;
    text-align: center;
    padding: 10px 10px 10px 0;
    box-sizing: border-box;
}
.d3{
    color: white;
}
.d4{
    display: none;
    margin: -28px 0 0 0;
    width: 60px;
    height: 40px;
    color: white;
    padding: 10px 0 0 0;
    box-sizing: border-box;
}
.o3:active .d4{
    display: block;
    background-color: red;
    margin: -10px 0 0 0;
    box-sizing: border-box;
}
.d3:active{
    display: none;
}
.o5{
    width: 60px;
    height: 25px;
    border: 3px solid grey;
    border-radius: 30px;
    margin: 90px 0 0 40px;
}
.d5{
    width: 28px;
    height: 23px;
    border: 1px none;
    border-radius: 50%;
    background-color: dimgrey;
    margin: 1px 0 0 2px;
}
.d5:active{
    margin: 1px 0 0 30px;
}
.d5:focus{
    margin: 1px 0 0 30px;
}
.o6{
    border: none;
    width: 60px;
    height: 40px;
    background-color: green;
    margin: 85px 0 0 45px;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0 0 0;
    box-sizing: border-box;
}
.d6{
    color: white;
}
.d7 {
    display: none;
    margin: -28px 0 0 -0px;
    width: 60px;
    height: 40px;
    color: white;
    padding: 3px 0 0 3px;
    box-sizing: border-box;
    background-color: teal;
    border-radius: 5px;
}
.o6:active .d7{
    display: block;
    background-color: teal;
    margin: -10px 0 0 0;
    box-sizing: border-box;
}
/*.d6{
    display: none;
}*/